body {
background-color:#e6e6e6;
}

h1 {
text-align:center;
color:#000000;
}

h3 {
text-align:center;
color:#000000;
}

p {
margin:150px;
font-size: 11px;
color:#000000;

}
.moreInfo {
text-align: right;
color:brown;
}
span {
background-color:blue;
color:#FFFFFF;
padding:30px;
text-align: center;
}
