body {
background-color:#F8FFFF;
}

h1 {
text-align:center;
color:#000000;
}

h3 {
text-align:center;
color:#000000;
}

p {
font-size: 14px;
color:#000000;

}
.moreInfo {
text-align: right;
color:brown;
}
#skills {
background-color:blue;
color:#FFFFFF;
text-align: center;
}
hr {
display: block;
height: 2px;
border:0;
border-top: 2px solid #000;
margin: 1em 0;
padding: 0;
}

.navigationBar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #C8CCCC;
}
.navigationItem {
display: block;
padding: 21px 24px;
color: #ffffff;
text-align: center;
text-decoration: none;

}
li a:hover {
  background-color: #A8AAAA;
}

.active {
  background-color: #04CCAA;
}
