body {
background-color:#e6e6e6;
}

h1 {
text-align:center;
color:#000000;
}

h3 {
text-align:center;
color:#000000;
}

p {
font-size: 11px;
color:#000000;

}
.moreInfo {
text-align: right;
color:brown;
}
.skills {
background-color:blue;
color:#FFFFFF;
padding-right: 15px;
padding-left: 15px;
text-align: center;
}
