html {
    scroll-behavior: smooth;
    font-family: 'Brush Script MT'; 
    font-size: 24px;
    margin-bottom: 80px;
    background-color: rgb(10, 10, 10);
}
#navbar {
    background-color: #2e2e2e;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.4s;
}

#navbar a {
    color: white;
    float: right;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;

}

.centerName {
    margin: auto;
    text-align: center;
    font-size: 48px;
    color: white;
    width: 50%;
}

.center {
    margin: auto;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

h3 {
    font-size: 36px;
    color: #dddddd;
    text-align: center;

}

p {
    font-size: 24px;
    color:#dddddd;  
    margin-right: 70%;
    padding-left: 5%;
}

a {
    font-size: 20px;
    color:#844eca;
    padding-left: 5%;  
}

ul li {
    font-size: 20px;
    color:#ffffff;  
    padding-left: 8%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 300px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: 300px;
}