html {
    scroll-behavior: smooth;
    font-family: 'Brush Script MT'; 
    margin-bottom: 80px;
    background-color: #DFDFDF;
}
#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.4s;
}

#navbar a {
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;

}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
}

p {
    font-size: 20px;
    color:#000000;  
}

a {
    font-size: 20px;
    color:#000000;  
}

ul li {
    font-size: 20px;
    color:#000000;  
}

.img {
    height: 300px;
    width: 300px;
}